.episode {
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    display: flex;
    justify-content: flex-end;

    &__item {
      margin-left: 1rem;
    }
  }

  &__season {
    &__select {
      margin-right: 0.5rem;
    }
  }
}
